<mat-toolbar color="primary" class="sticky-toolbar">
  <mat-icon>medical_services</mat-icon>
</mat-toolbar>

<div class="main">
  <header>
    <!---->

    <h1 class="title">CareMetric</h1>
  </header>
  <main>
    <div>
      <form class="search_intent">
        <mat-form-field class="example-full-width">
          <mat-label>Forney</mat-label>
          <input type="tel" matInput placeholder="address" />
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Add Insurance</mat-label>
          <input type="tel" matInput placeholder="provider" />
          <mat-icon matSuffix>shield</mat-icon>
        </mat-form-field>

        <button
          type="submit"
          class="btn_check my-blue-button"
          mat-raised-button
        >
          <mat-icon matSuffix>loop</mat-icon>Find provider
        </button>
      </form>
      <div></div>
      <div></div>
    </div>
    <div class="speciality_card">
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconPcp___78766.svg"
                alt="Primary"
              />
              Primary Care
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconObgyn___df867.svg"
                alt="OB-GYN"
              />
              OB-GYN
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconDentist___dfaa4.svg"
                alt="Dentist"
              />
              Dentist
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconDermatologist___dc16e.svg"
                alt="Dermatologist"
              />
              Dermatoligist
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconEyeDoctor___b07a0.svg"
                alt="Eye Doctor"
              />Eye Doctor
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
      <div>
        <mat-card>
          <mat-card-title>
            <h2>
              <img
                src="https://dei8tnxdc6g1d.cloudfront.net/IconPsychiatrist___9cdf8.svg"
                alt="Psychiatrist"
              />
              PsyChiatrist
            </h2>
          </mat-card-title>
          <mat-card-content></mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-card>
      <mat-card-title>
        <h2><mat-icon>vaccines</mat-icon> Doctors Portals</h2>
      </mat-card-title>
      <mat-card-content>
        <mat-card class="card_pic">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Dr Samer Padilla</mat-card-title>
              <mat-card-subtitle>Primary Care Doctor</mat-card-subtitle>
              <img
                mat-card-md-image
                src="https://pngimg.com/uploads/doctor/doctor_PNG15992.png"
                alt="Image"
              />
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content> Welcome </mat-card-content>
          <button
            type="button"
            class="btn_check my-blue-button"
            mat-raised-button
          >
            Availability
          </button>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        <h2><mat-icon>emergency</mat-icon> Health System</h2>
      </mat-card-title>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </main>
</div>

<footer></footer>
